---
const {currentPage, totalPages ,baseUrl} = Astro.props

interface Props {
    currentPage: number;
    totalPages: number;
    disablePrevious: boolean;
    disableNext: boolean;
    baseUrl: string;
}

const getPathUrl = (pageNumber: number) => {
    if (pageNumber === 1) {
        // Page 1 : utiliser baseUrl sans numéro
        return baseUrl.endsWith('/') ? baseUrl : `${baseUrl}/`;;
    }
    else {
        // Pages suivantes : baseUrl + numéro
        return `${baseUrl}${pageNumber}`;
    }
};
---

<div class="pagination-container">
        {Array.from({ length: totalPages }, (_, index) => {
            const pageNumber = index + 1;
            return (
                <a
                    href={getPathUrl(pageNumber)}
                    class={currentPage === pageNumber  ? "active" : ""}
                    aria-label={`Page ${pageNumber}`}
                >
                    {pageNumber}
                </a>
            )
        })}
</div>


